<section id="pov">
  <div class="container text-center">
    <h1>Don't go searching blindly</h1>
    <p>Find an existing property inspection and/or appraisal before you throw away precious cash!</p>
  </div>
</section>
<section id="info-sect">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="text-center">
          <i class="fa fa-graduation-cap fa-5x" aria-hidden="true"></i>
          <h1>Knowledge is Power</h1>
          <p>
            When buying a home, you expect the home to last you a while so theres no such thing as too much
            information. Look through a multitude of reports to see how things have changed over the years. You never
            know what you might uncover.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="text-center">
          <i class="fa fa-money fa-5x" aria-hidden="true"></i>
          <h1>Minimize Spending</h1>
          <p>Home buyers enter the market with help from brokers and realtors, but know little of what other potential
            buyers have already experienced.
            Home inspections and home appraisals run up the cost of choosing a home. Caveo aims to make this process
            more transparent by leveraging the power of the community</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="text-center">
          <i class="fa fa-handshake-o fa-5x" aria-hidden="true"></i>
          <h1>Recover Expenses</h1>
          <p>What happens with the appraisals and home inspection reports you have piled up? Caveo is the platform that
            allows you to distribute these reports freely or at a price to buyers.
            You paid for them so they are yours to do with as you please, might as well make them work for you.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="signup-sect">
  <div class="container-fluid text-center">
    <h1>Home Service Providers</h1>
    <p>There is a place for everyone here if you would like to be our preferred service provider please enter your information below</p>
  </div>

</section>
