<section id="first">
  <div class="container text-center">
    <h1>Don't go searching blindly</h1>
    <p>Find an existing property inspection and/or appraisal before you throw away precious cash!</p>
  </div>
</section>
<section id="second">
  <div class="container text-center">
    <h1>Information is power</h1>
    <p>
      When buying a home, you expect the home to last you a while so theres no such thing as too much information. Look through a multitude of reports to see how things have changed over the years. You never know what you might uncover.
    </p>
  </div>
</section>
<section id="third">
  <div class="container text-center">
    <h1>Minimize Spending</h1>
    <p>Home buyers enter the market with help from brokers and realtors, but know little of what other potential buyers have already experienced.
      Home inspections and home appraisals run up the cost of choosing a home. Caveo aims to make this process more transparent by leveraging the power of the community</p>
  </div>
</section>
<section id="fourth">
  <div class="container text-center">
    <h1>Recover Expenses</h1>
    <p>What happens with the appraisals and home inspection reports you have piled up? Caveo is the platform that allows you to distribute these reports freely or at a price to buyers.
      You paid for them so they are yours to do with as you please, might as well make them work for you.</p>
  </div>
</section>
