<div class="row" [ngClass]="{'app-container': !isLanding}">
  <ng-navigation (change)="menuState($event)" [landing]="isLanding" ></ng-navigation><!--

  --><app-search *ngIf="!isLanding" [landing]="isLanding" [open]="sidebarOpen"></app-search><!--

  --><div [ngClass]="{'splash-page': isLanding, 'col-sm-10': !isLanding && sidebarOpen, 'col-sm-11': !isLanding && !sidebarOpen}">
    <router-outlet></router-outlet>
  </div>

  <ng-modal *ngIf="showModal !== 'closed'" [purpose]="showModal"></ng-modal>
</div>


