.newlisting-form
  overflow-x: hidden
  .step-container
    position: relative
    width: 2272px
    &.step-2
      left: -568px
    &.step-3
      left: -1136px
    &.step-4
      left: -1704px
    >div
      width: 568px
      display: inline-block

