@import '../../mixins'
@import '../../variables'
.custom-file
  .custom-file-input
    width: 0.1px
    height: 0.1px
    opacity: 0
    overflow: hidden
    position: absolute
    z-index: -1
  .custom-file-label
    font-size: 1.25em
    font-weight: 700
    color: white
    display: inline-block
    background: $app-secondary
    padding: 10px

.modal-title
  display: inline-block
.newlisting-form
  overflow-x: hidden
  .step-container
    @include transition(all, .5s, ease)
    position: relative
    width: 2272px
    &.step-2
      left: -568px
    &.step-3
      left: -1136px
    &.step-4
      left: -1704px
    >div
      width: 568px
      height: 264px
      overflow: hidden
      display: inline-block
.doc-options
  display: block
.upload-space
  width: 150px
  height: 150px
  border: 1px dashed #bebebe
  display: inline-block
  vertical-align: top
.type-radios
  display: inline-block
