<div class="modal-header">
  <span class="modal-title"><h5>New Listing</h5></span>
  <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="listingForm" class="newlisting-form" novalidate>
    <div class="step-container" [ngClass]="{'step-2': step == 2, 'step-3': step == 3, 'step-4': step == 4}">
      <div id="basic_info">
        <div class="form-group">
          <label for="name">Name of Listing</label>
          <input formControlName="name" type="text" class="form-control">
          <small class="form-text text-muted">Make it attractive by adding details such as "Mold check!" or "Asbestos
            free!"
          </small>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label for="price">Set Price</label>
              <input formControlName="price" type="number" class="form-control">
              <small class="form-text text-muted">The more recent your listing is the more you can earn. You can also list
                it free.
              </small>
            </div>
            <div class="col-sm-6">
              <label for="type">Cavedoc Type</label>
              <select formControlName="type" class="form-control">
                <option value="appraisal">Appraisal</option>
                <option value="inspection">Inspection</option>
                <option value="other">Other</option>
              </select>
            </div>
          </div>
        </div>
      </div><!--
    --><div id="cover">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-12">
            <label>Upload Cover Image</label>
            <div *ngIf="coverUrl.invalid && (coverUrl.dirty || coverUrl.touched)"
                 class="alert alert-danger">
              cover url invalid
            </div>
            <label class="custom-file">
              <input type="file" tabindex="-1" class="custom-file-input"
                     (change)="uploadCover($event)"
                     #coverUpload
                     accept="image/x-png,image/gif,image/jpeg">
              <input type="hidden" name="fileHidden" formControlName="coverUrl"/>
              <span class="custom-file-control"></span>
            </label>
          </div>
        </div>
      </div>
    </div><!--
    --><div id="document">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <label>Upload the Cavedoc</label>
            <label class="custom-file">
              <input type="file" tabindex="-1" class="custom-file-input"
                     (change)="uploadDoc()"
                     #caveDocUpload
                     accept="application/pdf" >
              <input type="hidden" name="fileHidden" formControlName="docUrl"/>
              <span class="custom-file-control"></span>
            </label>
          </div>
          <div class="col-sm-6">
            <label>Proof of Ownership</label>
            <label class="custom-file">
              <input type="file" tabindex="-1" class="custom-file-input"
                     (change)="uploadProof()"
                     #proofUpload
                     accept="application/pdf" >
              <input type="hidden" name="fileHidden" formControlName="proofUrl"/>
              <span class="custom-file-control"></span>
            </label>
          </div>
        </div>
      </div>
    </div><!--
    --><div id="agreement">
      <div class="form-group">
        <div class="row">
          <div class="col-xs-12">
            <p>These are documents that I bought and paid for myself or that I have received explicit approval to resell
              them as my own from the original owner</p>
            <div class="label">
              <input formControlName="tou" tabindex="-1" type="checkbox" required>
              Yes
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="cav-btn-group pull-right text-center">
          <div style="color:red"> {{listingForm.status}}!</div>
          <button type="button" (click)="cancelUpload()" class="cav-btn danger">Cancel</button>
          <button type="button" (click)="previousStep()" class="cav-btn">Previous</button>
          <button type="button" (click)="nextStep()" *ngIf="step < 4" class="cav-btn good">Next</button>
          <button type="submit" (click)="submitNewListing()" *ngIf="step === 4" [disabled]="listingForm.status == 'invalid'"
               class="cav-btn good">Finish
          </button>
        </div>
      </div>
    </div>
  </form>

</div>
<div class="modal-footer">
</div>
